:root{--loader-bg:#123A41; --color-primary: #F9920B;}.overlay--1aTlbi{background-color:#123A41!important;}body{background-color:#123A41!important;}.presentationContainer--1wqUYG{background-color:#123A41!important;}.layout--Z2pPMwf{background-color: #123A41!important;}